/**********************
  variable declaration
  *********************/

:root {
	/*phone layout*/
	--p-d-1: 60px;
	--p-d-2: 80px;
	--p-d-3: 100px;
	--p-d-4: 120px;
	--p-d-5: 150px;
	--p-padding-min: 24px;
	--p-padding-med: 32px;
	--p-padding-max: 120px;
	--p-panel-height: 80px;
	--p-h1-size: 20px;

	/*tablet layout*/
	--t-d-1: 100px;
	--t-d-2: 130px;
	--t-d-3: 160px;
	--t-d-4: 200px;
	--t-d-5: 250px;
	--t-padding-min: 32px;
	--t-padding-med: 80px;
	--t-padding-max: 160px;
	--t-panel-height: 100px;
	--t-h1-size: 24px;

	/* color varibles */
	--c1: rgba(190, 24, 53, 1);
	--c2: rgba(217, 183, 37, 1);
	--c3: rgba(0, 91, 58, 1);
	--c4: rgba(0, 33, 157, 1);
	--c5: rgba(83, 39, 106, 1);

	/*fundamentals*/
	--cbox-w: 33.33vw;
	--cbox-wmax: 200;
}



/**********************
  style definition
  *********************/
/*
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
*/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');

body{
	font-family: 'Gothic A1', sans-serif;
	color: #222222;
}
h1{
	position: relative;
	color: #222222;
	text-align: left;
	font-weight: 400;
	font-size: var(--h1-size);
	margin-top: var(--padding-min);
	margin-bottom: calc(var(--padding-min / 2));
}
p{
	font-weight: 300;
	font-size: var(--h1-size);
	margin-bottom: var(--padding-min);
	margin-top: calc(var(--padding-min / 2));
}
p.small{
	font-size: calc( var(--h1-size) * 3 / 4 );
}
@keyframes color-change {
	0% {background-color: var(--c1);}
	30% {background-color: var(--c2);}
	50% {background-color: var(--c3);}
	70% {background-color: var(--c4);}
	85% {background-color: var(--c5);}
	100% {background-color: var(--c1);}
}
@keyframes spinner1 {
	0% {transform: rotate(30deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}

}
@keyframes spinner3 {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(0deg);}
  100% {transform: rotate(-30deg);}
}
@keyframes spinner-c1 {
	0%    {}
	12.5% {}
	25%   {}
	37.5% {background-color: var(--c1);}
	50%   {background-color: var(--c1);}
	62.5% {background-color: var(--c3);}
	75%   {background-color: var(--c3);}
	87.5% {background-color: var(--c3);}
	100%  {background-color: var(--c3);}
}
@keyframes spinner-c2 {
	0%    {}
	12.5% {} /* up */
	25%   {} /* hit */
	37.5% {background-color: var(--c1);}
	50%   {}
	62.5% {} /* up */
	75%   {background-color: var(--c1);} /* hit */
	87.5% {background-color: var(--c3);}
	100%  {}
}
@keyframes spinner-c3 {
	0%    {}
	12.5% {background-color: var(--c1);} /* up */
	25%   {background-color: var(--c1);} /* hit */
	37.5% {background-color: var(--c1);}
	50%   {background-color: var(--c1);}
	62.5% {background-color: var(--c3);} /* up */
	75%   {background-color: var(--c3);} /* hit */
	87.5% {background-color: var(--c3);}
	100%  {background-color: var(--c3);}
}
@keyframes blur {
	from {
		filter: blur(0);
		-webkit-filter: blur(0);
	}
	to {
		filter: blur(20px);
		-webkit-filter: blur(40px);
	}
}
.effect-blur{
	animation-name: blur;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}
/**********************
  container definition
 **********************/
body{
	margin: 0;
}
#container{
	position: relative;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #e0d1ca;
	overflow: hidden;
}
#container-bg{
	position: fixed;
	display: block;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#faf0eb, #e0d1ca) fixed;
}
#panel, #note{
	display: block;
	position: fixed;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
	bottom: 0;
	background-color: white;
	/*background-color: rgba(224,209,202,0.8);
	box-shadow: 0px -2px 4px rgba(0,0,0,0.05);*/
}
#panel{
}
#note{
	visibility: hidden;
}
.bead-entry{
	position: relative;
	display: block;
	width: auto;
}
.bead-placeholder{
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
}




/********************
  content definition
  *******************/
.text-header{
	position: relative;
	color: #222222;
	text-align: left;
	font-weight: 400;
	margin: 0px;

}
.bead-base, .bead-filling, .bead-glow, .bead-shadow{
	position: absolute;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat
}
.bead-base, .bead-filling, .bead-glow{
	border-radius: 500px;
	background-size: 100%;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.bead-base{
	background-color: rgba(0,0,0,0.2);
	background-image: url('bead_base.png');
	background-blend-mode: overlay;

}
.bead-filling{
	background-image: url('');

}
.bead-glow{
	background-image: url('bead_glow.png');
	background-blend-mode: screen;
}
.bead-shadow{
	mix-blend-mode: multiply;
	background-color: rgba(0,0,0,0.2);
	background-image: url('bead_shadow.png');
	background-size: 100%;
	background-blend-mode: screen;
	right: 0;
	-webkit-transform: translate(25%, -25%);
	transform: translate(25%, -25%);
}
#help{
	display: inline-block;
	position: absolute;
	right: var(--padding-min);
	bottom: calc(var(--panel-height)/4);
	width: calc(var(--panel-height)/2);
	height: calc(var(--panel-height)/2);
	border-radius: 200px;
	animation-name: color-change;
	animation-duration: 5s;
	animation-iteration-count: infinite;
	text-align: center;
	vertical-align: middle;
	line-height: calc(var(--panel-height)/2);
	font-size: var(--h1-size);
	color: white;
}
/*loading spinner*/
#spinner {
  width: var(--cbox-w);
  height: var(--cbox-w);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.spinner-coord{
  position: absolute;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  top: calc(var(--cbox-w)/6);
  left: calc(var(--cbox-w)*3/8);
  margin: 0;
  padding: 0;
}
.spinner-point{
  position: relative;
  display: inline-block;
  width: calc(var(--cbox-w)/8);
  margin: 0;
  padding: 0;
}
.spinner-dot{
  position: absolute;
  top: calc(var(--cbox-w)/3);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: calc(var(--cbox-w)/8);
  height: calc(var(--cbox-w)/8);
  background-color: black;
  border-radius: 200px;
  margin: 0;
  padding: 0;
	animation: color-change 6s ease infinite;
}
#sp-1{
	animation: spinner1 0.6s ease-in infinite alternate-reverse;

}
#sp-3{
	animation: spinner3 0.6s ease-out infinite alternate-reverse;

}
/*******************
 * size definition *
 *******************/

/*smartphone portrait*/
@media screen and (max-aspect-ratio: 1/1) and (max-width: 640px){
	:root {
		--d-1: var(--p-d-1);
		--d-2: var(--p-d-2);
		--d-3: var(--p-d-3);
		--d-4: var(--p-d-4);
		--d-5: var(--p-d-5);
		--padding-min: var(--p-padding-min);
		--padding-med: var(--p-padding-med);
		--padding-max: var(--p-padding-max);
		--panel-height: var(--p-panel-height);
		--h1-size: var(--p-h1-size);
	}
}
/*smartphone landscape*/
@media screen and (min-aspect-ratio: 1/1) and (max-height: 640px){
	:root {
		--d-1: var(--p-d-1);
		--d-2: var(--p-d-2);
		--d-3: var(--p-d-3);
		--d-4: var(--p-d-4);
		--d-5: var(--p-d-5);
		--padding-min: var(--p-padding-min);
		--padding-med: var(--p-padding-med);
		--padding-max: var(--p-padding-max);
		--panel-height: var(--p-panel-height);
		--h1-size: var(--p-h1-size);
	}
}
/*tablet portrait*/
@media screen and (max-aspect-ratio: 1/1) and (min-width: 640px){
	:root {
		--d-1: var(--t-d-1);
		--d-2: var(--t-d-2);
		--d-3: var(--t-d-3);
		--d-4: var(--t-d-4);
		--d-5: var(--t-d-5);
		--padding-min: var(--t-padding-min);
		--padding-med: var(--t-padding-med);
		--padding-max: var(--t-padding-max);
		--panel-height: var(--t-panel-height);
		--h1-size: var(--t-h1-size);
	}
}
/*tablet landscape*/
@media screen and (min-aspect-ratio: 1/1) and (min-height: 640px){
	:root {
		--d-1: var(--t-d-1);
		--d-2: var(--t-d-2);
		--d-3: var(--t-d-3);
		--d-4: var(--t-d-4);
		--d-5: var(--t-d-5);
		--padding-min: var(--t-padding-min);
		--padding-med: var(--t-padding-med);
		--padding-max: var(--t-padding-max);
		--panel-height: var(--t-panel-height);
		--h1-size: var(--t-h1-size);
	}
}

/*variable definition*/
#container{
	padding-top: var(--padding-min);
	padding-bottom: var(--padding-max);
}
#panel{
	height: var(--panel-height);
	padding: 0px var(--padding-min);
}
#note{
	padding: 0 var(--padding-min);
}
.text-header{
	top: calc( var(--panel-height) / 2);
	transform: translateY( calc(var(--h1-size) / 2 * (-1)) );
	font-size: var(--h1-size);
	line-height: var(--h1-size);

}
.bead-entry{
	margin: 0px var(--padding-min);
	height: var(--d-1);
}
.bead-size-1{
	width: var(--d-1);
	height: var(--d-1);
}
.bead-size-2{
	width: var(--d-2);
	height: var(--d-2);
}
.bead-size-3{
	width: var(--d-3);
	height: var(--d-3);
}
.bead-size-4{
	width: var(--d-4);
	height: var(--d-4);
}
.bead-size-5{
	width: var(--d-5);
	height: var(--d-5);
}
.bead-shadow-size-1{
	width: calc(var(--d-1) * 2);
	height: calc(var(--d-1) * 2);
}
.bead-shadow-size-2{
	width: calc(var(--d-2) * 2);
	height: calc(var(--d-2) * 2);
}
.bead-shadow-size-3{
	width: calc(var(--d-3) * 2);
	height: calc(var(--d-3) * 2);
}
.bead-shadow-size-4{
	width: calc(var(--d-4) * 2);
	height: calc(var(--d-4) * 2);
}
.bead-shadow-size-5{
	width: calc(var(--d-5) * 2);
	height: calc(var(--d-5) * 2);
}
