/**********************
  variable declaration
  *********************/

:root {
	/*phone layout*/
	--p-d-1: 60px;
	--p-d-2: 80px;
	--p-d-3: 100px;
	--p-d-4: 120px;
	--p-d-5: 150px;
	--p-padding-min: 24px;
	--p-padding-med: 32px;
	--p-padding-max: 120px;
	--p-panel-height: 80px;
	--p-h1-size: 20px;

	/*tablet layout*/
	--t-d-1: 100px;
	--t-d-2: 130px;
	--t-d-3: 160px;
	--t-d-4: 200px;
	--t-d-5: 250px;
	--t-padding-min: 32px;
	--t-padding-med: 80px;
	--t-padding-max: 160px;
	--t-panel-height: 100px;
	--t-h1-size: 24px;
}



/**********************
  style definition
  *********************/
@import url('https://fonts.googleapis.com/css?family=Song+Myung');




/**********************
  container definition
  *********************/
body{
	margin: 0;
	font-family: 'Song Myung', serif;
}
#container{
	position: relative;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #e0d1ca;
}
#container-bg{
	position: fixed;
	display: block;
	top: 0;
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#faf0eb, #e0d1ca) fixed;
}
#panel::before{
	z-index: -1;
	-webkit-filter: blur(5px);
	filter: blur(5px);
	background-size: cover;
	opacity: 0.5;
}
#panel{
	display: block;
	position: fixed;
	box-sizing: border-box;
	bottom: 0;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	/*background-color: rgba(224,209,202,0.8);
	box-shadow: 0px -2px 4px rgba(0,0,0,0.05);*/
}
.bead-entry{
	position: relative;
	display: block;
	width: auto;
}
.bead-placeholder{
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
}




/********************
  content definition
  *******************/
.text-header{
	position: relative;
	color: #222222;
	text-align: left;
	font-weight: 400;
	margin: 0px;

}
.bead-base, .bead-shadow{
	position: absolute;
	display: block;
	overflow: hidden;
}
.bead-base{
	border-radius: 500px;
	background-color: rgba(0,0,0,0.2);
	background-image: url('bead_base.png'), url(''), url('bead_glow.png');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-blend-mode: overlay, normal, screen;
	background-size: 100%;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
}

.bead-shadow{
	mix-blend-mode: multiply;
	background-color: rgba(0,0,0,0.2);
	background-image: url('bead_shadow.png');
	background-size: 100%;
	background-blend-mode: screen;
	right: 0;
	-webkit-transform: translate(25%, -25%);
	transform: translate(25%, -25%);
}



/*******************
 * size definition *
 *******************/

/*smartphone portrait*/
@media screen and (max-aspect-ratio: 1/1) and (max-width: 640px){
	:root {
		--d-1: var(--p-d-1);
		--d-2: var(--p-d-2);
		--d-3: var(--p-d-3);
		--d-4: var(--p-d-4);
		--d-5: var(--p-d-5);
		--padding-min: var(--p-padding-min);
		--padding-med: var(--p-padding-med);
		--padding-max: var(--p-padding-max);
		--panel-height: var(--p-panel-height);
		--h1-size: var(--p-h1-size);
	}
}
/*smartphone landscape*/
@media screen and (min-aspect-ratio: 1/1) and (max-height: 640px){
	:root {
		--d-1: var(--p-d-1);
		--d-2: var(--p-d-2);
		--d-3: var(--p-d-3);
		--d-4: var(--p-d-4);
		--d-5: var(--p-d-5);
		--padding-min: var(--p-padding-min);
		--padding-med: var(--p-padding-med);
		--padding-max: var(--p-padding-max);
		--panel-height: var(--p-panel-height);
		--h1-size: var(--p-h1-size);
	}
}
/*tablet portrait*/
@media screen and (max-aspect-ratio: 1/1) and (min-width: 640px){
	:root {
		--d-1: var(--t-d-1);
		--d-2: var(--t-d-2);
		--d-3: var(--t-d-3);
		--d-4: var(--t-d-4);
		--d-5: var(--t-d-5);
		--padding-min: var(--t-padding-min);
		--padding-med: var(--t-padding-med);
		--padding-max: var(--t-padding-max);
		--panel-height: var(--t-panel-height);
		--h1-size: var(--t-h1-size);
	}
}
/*tablet landscape*/
@media screen and (min-aspect-ratio: 1/1) and (min-height: 640px){
	:root {
		--d-1: var(--t-d-1);
		--d-2: var(--t-d-2);
		--d-3: var(--t-d-3);
		--d-4: var(--t-d-4);
		--d-5: var(--t-d-5);
		--padding-min: var(--t-padding-min);
		--padding-med: var(--t-padding-med);
		--padding-max: var(--t-padding-max);
		--panel-height: var(--t-panel-height);
		--h1-size: var(--t-h1-size);
	}
}

/*variable definition*/
#container{
	padding-top: var(--padding-min);
	padding-bottom: var(--padding-max);
}
#panel{
	height: var(--panel-height);
	padding: 0px var(--padding-min);
}
.text-header{
	top: calc( var(--panel-height) / 2);
	transform: translateY( calc(var(--h1-size) / 2 * (-1)) );
	font-size: var(--h1-size);
	line-height: var(--h1-size);

}
.bead-entry{
	margin: 0px var(--padding-min);
	height: var(--d-1);
}
.bead-size-1{
	width: var(--d-1);
	height: var(--d-1);
}
.bead-size-2{
	width: var(--d-2);
	height: var(--d-2);
}
.bead-size-3{
	width: var(--d-3);
	height: var(--d-3);
}
.bead-size-4{
	width: var(--d-4);
	height: var(--d-4);
}
.bead-size-5{
	width: var(--d-5);
	height: var(--d-5);
}
.bead-shadow-size-1{
	width: calc(var(--d-1) * 2);
	height: calc(var(--d-1) * 2);
}
.bead-shadow-size-2{
	width: calc(var(--d-2) * 2);
	height: calc(var(--d-2) * 2);
}
.bead-shadow-size-3{
	width: calc(var(--d-3) * 2);
	height: calc(var(--d-3) * 2);
}
.bead-shadow-size-4{
	width: calc(var(--d-4) * 2);
	height: calc(var(--d-4) * 2);
}
.bead-shadow-size-5{
	width: calc(var(--d-5) * 2);
	height: calc(var(--d-5) * 2);
}
