/**********************
  container definition
  *********************/
body{
	margin: 0;
	background: #e0d1ca;
}
#section_container{
	position: relative;
	display: block;
	width: 100%;
	height: 100vh;
}

.bead_entry{
	position: relative;
	display: block;
	width: auto;
}




/********************
  content definition
  *******************/

.bead.base, .bead_shadow{
	position: absolute;
	display: block;
	overflow: hidden;
}
.bead_base{
	position: absolute;
	display: block;
	overflow: hidden;
	border-radius: 500px;
	background-color: rgba(190,24,53,0.7);
	background-image: url('bead_base.png'), url('fill_1_1.png'), url('bead_glow.png');
	background-repeat: no-repeat, no-repeat, no-repeat;
	background-blend-mode: overlay, normal, screen;
	background-size: 100%;
}
.bead_filling{
	background-color: rgba(190,24,53,0.7);
	background-image: url();

}

.bead_shadow{
	position: absolute;
}

/*responsive layout*/
@media screen and (max-width: 360px){
	#section_container{
		padding-top: 80px;
		padding-bottom: 80px;
	}
	.bead_entry{
		margin: 0px 16px;
		height: 100px;
	}
}
@media screen and (max-width: 480px){
	#section_container{
		padding-top: 106px;
		padding-bottom: 106px;
	}
	.bead_entry{
		margin: 0px 24px;
		height: 100px;
	}
}
@media screen and (max-width: 640px){
	#section_container{
		padding-top: 142px;
		padding-bottom: 142px;
	}
	.bead_entry{
		margin: 0px 32px;
		height: 100px;
	}
}
@media screen and (max-width: 720px){
	#section_container{
		padding-top: 160px;
		padding-bottom: 160px;
	}
	.bead_entry{
		margin: 0px 16px;
		height: 100px;
	}
	.bead_base{
		width: 100px;
		height: 100px;
	}
}
@media screen and (min-width: 720px){
	#section_container{
		padding-top: 120px;
		padding-bottom: 120px;
	}
	.bead_entry{
		margin: 0px 32px;
		height: 150px;
	}
	.bead_base{
		width: 150px;
		height: 150px;
	}
}