/**********************
  variable declaration
  *********************/

:root {
	/*phone layout*/
	--p-d-1: 60px;
	--p-d-2: 80px;
	--p-d-3: 100px;
	--p-d-4: 120px;
	--p-d-5: 150px;
	--p-padding-min: 24px;
	--p-padding-med: 32px;
	--p-padding-max: 120px;
	--p-panel-height: 80px;
	--p-h1-size: 20px;

	/*tablet layout*/
	--t-d-1: 100px;
	--t-d-2: 130px;
	--t-d-3: 160px;
	--t-d-4: 200px;
	--t-d-5: 250px;
	--t-padding-min: 32px;
	--t-padding-med: 80px;
	--t-padding-max: 160px;
	--t-panel-height: 100px;
	--t-h1-size: 24px;

	/* color varibles */
	--c1: rgba(190, 24, 53, 1);
	--c2: rgba(217, 183, 37, 1);
	--c3: rgba(0, 91, 58, 1);
	--c4: rgba(0, 33, 157, 1);
	--c5: rgba(83, 39, 106, 1);

	/*fundamentals*/
	--cbox-w: 33.33vw;
	--cbox-wmax: 200;
	--max-w: 800px;
	--PI: 3.14159265358979;

	/*animations*/
	--effect-blur: blur 0.5s forwards;
	--effect-fadein: fadein 1.5s forwards;
	--effect-to-center: to-center .6s forwards;
	--effect-emotion-1-bead: emotion-1-bead 0.8s ease-in-out infinite;
	--effect-emotion-1-shadow: emotion-1-shadow 0.8s ease-in-out infinite;
	--effect-emotion-2-v: emotion-2-v  0.3s cubic-bezier(0.125, 0.5, 0.25, 1) infinite alternate;
	--effect-emotion-2-h: emotion-2-h  2.4s linear infinite;
	--effect-emotion-2-shadow: emotion-2-shadow  0.3s cubic-bezier(0.125, 0.5, 0.25, 1) infinite alternate;
	--effect-emotion-3-bead: emotion-3-bead 0.75s cubic-bezier(0.125, 0.5, 0.25, 1) infinite alternate-reverse;
	--effect-emotion-3-shadow: emotion-3-shadow 0.75s cubic-bezier(0.125, 0.5, 0.25, 1) infinite alternate-reverse;
	--effect-emotion-4-bead: emotion-4-bead 8s ease-in-out infinite;
	--effect-emotion-4-shadow: emotion-4-shadow 8s ease-in-out infinite;
}





/**********************
  style definition
  *********************/
/*
@import url('https://fonts.googleapis.com/css?family=Song+Myung');
*/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
html, body{
	font-family: 'Gothic A1', sans-serif;
	color: #222222;
	overflow: hidden;
}
h1{
	position: relative;
	color: #222222;
	text-align: left;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 600;
	font-size: var(--h1-size);
	margin-top: var(--padding-min);
	margin-bottom: calc(var(--padding-min / 2));
}
.textbox h1, .textbox h2, #note h1, #note h2 {
	margin-top: 0;
}
h2 {
	position: relative;
	color: #222222;
	text-align: left;
	font-family: 'Gothic A1', sans-serif;
	font-weight: 600;
	font-size: calc( var(--h1-size) * 3 / 4 );
	margin-bottom: var(--padding-min);
}
p{
	font-family: 'Gothic A1', sans-serif;
	font-weight: 400;
	font-size: var(--h1-size);
	margin-bottom: var(--padding-min);
	margin-top: calc(var(--padding-min / 2));
}
.textbox p, #note p {
	margin-bottom: 0;
}
p.small{
	font-size: calc( var(--h1-size) * 3 / 4 );
}
p.subtitle {
	margin-top: calc(var(--padding-min / 2));
	margin-bottom: 0;
	font-size: calc( var(--h1-size) * 3 / 4 );
}





/***********
 * effects *
 ***********/
.transition-height {
	-webkit-transition: height .3s ease-in-out, margin-top .3s ease-in-out;
	transition: height .3s ease-in-out, margin-top .3s ease-in-out;
}

#panel.whiteout::after, #note.whiteout::after{
	pointer-events: none;
	opacity: 1;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
#panel.show {
	bottom: 0;
	opacity: 1;
}
.hide, #panel.hide, #screen-help.hide {
	opacity: 0;
	visibility: hidden;
}
#note.show {
	transform: translateY(0);
	-webkit-transform: translateY(0);
}
#note.visible {
	visibility: visible;
}
.blur {
	-webkit-filter: blur(40px);
	filter: blur(40px);
}
.sharp {
	-webkit-filter: blur(0px);
	filter: blur(0px);
}
@keyframes spinner1 {
	0% {transform: rotate(30deg);}
	50% {transform: rotate(0deg);}
	100% {transform: rotate(0deg);}

}
@keyframes spinner3 {
  0%   {transform: rotate(0deg);}
  50%  {transform: rotate(0deg);}
  100% {transform: rotate(-30deg);}
}
@keyframes blur {
	from {
		filter: blur(0);
		-webkit-filter: blur(0);
	}
	to {
		filter: blur(60px);
		-webkit-filter: blur(60px);
	}
}
@keyframes fadein {
	from {
		-webkit-filter: blur(40px);
		filter: blur(40px);
		opacity: 0;
	}
	to {
		-webkit-filter: blur(0);
		filter: blur(0);
		opacity: 1;
	}
}
@keyframes entry-expand {
	from {}
	to {
		/*margin-top: var(--d-5);*/
		height: 200px;
	}
}
@keyframes entry-shrink {
	from {}
	to {
		/*margin-top: var(--d-5);*/
		height: 200px;
	}
}
@keyframes arrow-swing {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	25% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	50% {
		-webkit-transform: translateY(calc(var(--h1-size)*(-1)));
		transform: translateY(calc(var(--h1-size)*(-1)));
	}
	75% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}
@keyframes to-center {
	to {
		-webkit-transform: transalte(0,0);
		transform: transalte(0,0);
	}
}
@keyframes emotion-2-v {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(calc((-1)*var(--padding-med)));
	}
}
@keyframes emotion-2-h {
	0% {
		transform: translateX(0);
	}
	25% {
		transform: translateX(calc((-1)*var(--padding-med)));
	}
	75% {
		transform: translateX(var(--padding-med));
	}
	100%{
		transform: translateX(0);
	}
}
@keyframes emotion-2-shadow {
	from {
		transform: translateY(0);
	}
	to {
		transform: translateY(calc(var(--padding-med)/2));
	}
}
@keyframes emotion-3-bead {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(calc((-1)*var(--padding-med)));
		transform: translateY(calc((-1)*var(--padding-med)));
	}
}
@keyframes emotion-3-shadow {
	0% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
	100% {
		-webkit-transform: translateY(calc(var(--padding-med)/2));
		transform: translateY(calc(var(--padding-med)/2));
	}
}
@keyframes emotion-4-bead {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	25% {
		-webkit-transform: translateX(calc((-1)*var(--padding-min)));
		transform: translateX(calc((-1)*var(--padding-min)));
	}
	50% {
		-webkit-transform: translateX(var(--padding-min));
		transform: translateX(var(--padding-min));
	}
	75% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}
@keyframes emotion-4-shadow {
	0% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
	25% {
		-webkit-transform: translateX(calc((-1)*var(--padding-min)));
		transform: translateX(calc((-1)*var(--padding-min)));
	}
	50% {
		-webkit-transform: translateX(var(--padding-min));
		transform: translateX(var(--padding-min));
	}
	75% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}
}


 /**********************
   container definition
  **********************/
::-webkit-scrollbar {
  width: 0px;
}
body{
	margin: 0;
	width: 100vw;
	height: 100%;
	background-color: #e0d1ca;
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge*/
   user-select: none;          /* Non-prefixed version, currently
                                  not supported by any browser */
}
.textbox{
	box-sizing: border-box;
	width: 100%;
}
.canvasbox {
	width: 100%;
}
#help-content.canvasbox{
	top: calc(var(--panel-height) + 1.4*var(--p-h1-size));
	height: calc(100% - (2*var(--panel-height) + 4.4*var(--p-h1-size)));
}
#screen-beads {
	-webkit-transition: -webkit-filter .5s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out;
	transition: filter .5s ease-in-out, opacity .5s ease-in-out, visibility .5s ease-in-out;
}
#screen-help {
	-webkit-transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
	transition: opacity .4s ease-in-out, visibility .4s ease-in-out;
}
#container{
	position: relative;
	display: block;
	width: 100%;
	box-sizing: border-box;
	background-color: #e0d1ca;
	overflow: hidden;
	-webkit-transition: -webkit-transform .3s ease-in-out;
	transition: transform .3s ease-in-out;
}
#panel, #note{
	display: block;
	position: fixed;
	box-sizing: border-box;
	vertical-align: middle;
	width: 100%;
	background-color: white;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
	/*background-color: rgba(224,209,202,0.8);
	box-shadow: 0px -2px 4px rgba(0,0,0,0.05);*/
}
#panel {
	bottom: calc(var(--panel-height)*(-1));
}
#note{
	visibility: hidden;
	bottom: 0;
	-webkit-transform: translateY(calc(100% - var(--panel-height)));
	transform: translateY(calc(100% - var(--panel-height)));
}
#panel::after, #note::after {
	pointer-events: none;
	position: absolute;
	top: 0;
	content: '';
	background-color: inherit;
	width: 100%;
	height: 100%;
	opacity: 0;
	-webkit-transition: all .3s ease-in-out;
	transition: all .3s ease-in-out;
}
.bead-entry{
	position: relative;
	display: block;
	width: auto;
	left: 0;
	-webkit-transition: height .3s ease-in-out;
	transition: height .3s ease-in-out;
}
.bead-placeholder{
	position: absolute;
	display: block;
	right: 0;
	top: 50%;
	-webkit-transition: right .3s ease-in-out;
	transition: right .3s ease-in-out;
}
.bead-placeholder.center {
	right: 50%;
}
.bead-point-shadow, .bead-oint-bead {
	position: absolute;
}
.bead-point-shadow {
	mix-blend-mode: multiply;
}
#help-arrow {
	position: absolute;
	top: calc((var(--panel-height) - var(--h1-size)) / 2);
	right: var(--padding-min);
	overflow: hidden;
	width: var(--h1-size);
	height: calc(100% - (var(--panel-height) - var(--h1-size)));
}
#help-arrow.reverse {
	transform: rotate(180deg);
}
#help-scroller {
	pointer-events: none;
	position: relative;
	width: 100%;
	height: 400vh;
}
#help-colorwheel {
	position: absolute;
	width: calc(100vw - var(--padding-min)*2);
	max-width: var(--max-w);
	height: calc(100vw - var(--padding-min)*2);
	max-height: 100%;
	background-image: url('src/img/illust_chromecircle.svg');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	top: 50%;
	margin: 0 var(--padding-min);
	transform: translateY(-50%);
}
#help-bead-opacity-1,
#help-bead-opacity-2,
#help-bead-opacity-3,
#help-bead-opacity-4,
#help-bead-opacity-5 {
	position: absolute;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
	transform: translate(-50%, -50%);

}
#help-bead-opacity-1,
#help-bead-opacity-2,
#help-bead-opacity-3,
#help-bead-opacity-4 {
	position: absolute;
	width: var(--d-2);
	height: var(--d-2);
	opacity: 0;
}
#help-bead-opacity-1 {
	background-color: rgba(0, 91, 58, 0.2);
}
#help-bead-opacity-2 {
	background-color: rgba(0, 91, 58, 0.4);
}
#help-bead-opacity-3 {
	background-color: rgba(0, 91, 58, 0.6);
}
#help-bead-opacity-4 {
	background-color: rgba(0, 91, 58, 0.8);
}
#help-bead-opacity-5 {
	width: calc(var(--d-3)/4);
	height: calc(var(--d-3)/4);
	background-color: var(--c3);
}

#help-bead-scale-1,
#help-bead-scale-2,
#help-bead-scale-3,
#help-bead-scale-4,
#help-bead-scale-5 {
	position: absolute;
	border-radius: 100%;
	border-style: solid;
	border-color: white;
	border-width: 2px;
	box-shadow: 0px 4px 8px rgba(0,0,0,0.2);
	left: calc(100vw + var(--d-5));
	transform: translate(-50%, -50%);
	background-color: rgba(0, 91, 58, 0.8);
}
#help-bead-scale-1 {
	width: var(--d-1);
	height: var(--d-1);
	top: var(--d-1);
}
#help-bead-scale-2 {
	width: var(--d-2);
	height: var(--d-2);
}
#help-bead-scale-3 {
	width: var(--d-3);
	height: var(--d-3);
	top: calc(var(--d-3)/2 + 2 * (100% - (var(--d-1) + var(--d-5)) / 2) / 4);
}
#help-bead-scale-4 {
	width: var(--d-4);
	height: var(--d-4);
	top: calc(var(--d-3)/2 + 3 * (100% - (var(--d-1) + var(--d-5)) / 2) / 4);
}
#help-bead-scale-5 {
	width: var(--d-5);
	height: var(--d-5);
	top: calc(var(--d-3)/2 + 4 * (100% - (var(--d-1) + var(--d-5)) / 2) / 4);
}


/********************
  content definition
  *******************/
.text-header{
	position: relative;
	color: #222222;
	text-align: left;
	font-weight: 400;
	margin: 0px;

}
.bead-base, .bead-filling, .bead-glow, .bead-shadow{
	position: absolute;
	display: block;
	overflow: hidden;
	background-repeat: no-repeat
}
.bead-base, .bead-filling, .bead-glow{
	border-radius: 500px;
	background-size: 100%;
	right: 0;
	-webkit-transform: translate(50%, -50%);
	transform: translate(50%, -50%);
	-webkit-transform-origin: center center;
	transform-origin: center center;
}
.bead-base{
	background-color: rgba(0,0,0,0.2);
	background-image: url('src/img/bead_base.png');
	background-blend-mode: overlay;

}
.bead-filling{
	background-image: url('');

}
.bead-glow{
	background-image: url('src/img/bead_glow.png');
	background-blend-mode: screen;
	cursor: pointer;
}
.bead-shadow{
	mix-blend-mode: multiply;
	background-color: rgba(0,0,0,0.2);
	/*background-image: url('src/img/bead_shadow.png');*/
	overflow: visible;
	background-size: 80%;
	background-position: center;
	/*background-blend-mode: screen;*/
	right: 0;
	-webkit-transform: translate(25%, -25%);
	transform: translate(25%, -25%);
}
.bead-shadow::after {
	content: '';
	position: absolute;
	background-image: url('src/img/bead_shadow.png');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	mix-blend-mode: screen;
	width: calc(100% + 2px);
	height: calc(100% + 2px);
	transform: translate(-1px, -1px);

}
#help{
	display: inline-block;
	position: absolute;
	right: var(--padding-min);
	bottom: calc(var(--panel-height)/4);
	width: calc(var(--panel-height)/2);
	height: calc(var(--panel-height)/2);
	border-radius: 200px;
	text-align: center;
	vertical-align: middle;
	line-height: calc(var(--panel-height)/2);
	font-size: var(--h1-size);
	color: white;
	background-color: #e0d1ca;
	box-shadow: inset 0px 2px 4px rgba(0,0,0,0.2);
}
/*loading spinner*/
#spinner {
  width: var(--cbox-w);
  height: var(--cbox-w);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  margin: 0;
  padding: 0;
}
.spinner-coord{
  position: absolute;
  display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
  display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;      /* TWEENER - IE 10 */
  display: -webkit-flex;     /* NEW - Chrome */
  display: flex;
  top: calc(var(--cbox-w)/6);
  left: calc(var(--cbox-w)*3/8);
  margin: 0;
  padding: 0;
}
.spinner-point{
  position: relative;
  display: inline-block;
  width: calc(var(--cbox-w)/8);
  margin: 0;
  padding: 0;
}
.spinner-dot{
  position: absolute;
  top: calc(var(--cbox-w)/3);
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  width: calc(var(--cbox-w)/8);
  height: calc(var(--cbox-w)/8);
  background-color: rgba(0,0,0,0.6);
  border-radius: 200px;
  margin: 0;
  padding: 0;
}
#sp-1{
	animation: spinner1 0.6s ease-in infinite alternate-reverse;

}
#sp-3{
	animation: spinner3 0.6s ease-out infinite alternate-reverse;

}
.button-close {
	position: absolute;
	top: calc(var(--panel-height)/2 - var(--h1-size));
	right: calc(var(--padding-min) - var(--h1-size)/2);
	width: var(--h1-size);
	height: var(--h1-size);
	background: url('src/img/icon_x.svg');
	background-repeat: no-repeat;
	background-size: var(--h1-size) var(--h1-size);
	background-position: center;
	cursor: pointer;
	padding: calc(var(--h1-size)/2);
}
.button-arrowdown {
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 0;
	background: url('src/img/icon_arrowdown.svg');
	background-repeat: no-repeat;
	background-size: var(--h1-size) auto;
	background-position: bottom;
	animation: arrow-swing 3.2s ease-in-out infinite;
	cursor: pointer;
}
#help-bead-base,
#help-bead-filling,
#help-bead-glow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#help-bead-shadow {
	display: block;
	content: '';
	background-image: url('src/img/bead_shadow_sample.png');
	background-size:contain;
	background-repeat: no-repeat;
	background-position: center;
	position: absolute;
	width: calc(var(--d-3)*2);
	height: calc(var(--d-3)*2);
	transform: translateX(calc((-1)*var(--d-3)));
}



/***********************
 * alignment definition *
 ***********************/
.align-bottom {
	position: fixed;
	bottom: 0;
}
.align-top {
	position: fixed;
	top: 0;
}
.helpcontent {
	position: fixed;
}
.align-center {
	left: 50%;
	top: 50%;
}
.lock, #screen-beads.lock, #screen-help.lock {
	touch-action: none;
	overflow: hidden;
}
.screen {
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	-webkit-overflow-scrolling: touch;
}

/*******************
 * size definition *
 *******************/

/*smartphone portrait*/
@media screen and (max-aspect-ratio: 1/1) and (max-width: 640px){
	:root {
		--d-1: var(--p-d-1);
		--d-2: var(--p-d-2);
		--d-3: var(--p-d-3);
		--d-4: var(--p-d-4);
		--d-5: var(--p-d-5);
		--padding-min: var(--p-padding-min);
		--padding-med: var(--p-padding-med);
		--padding-max: var(--p-padding-max);
		--panel-height: var(--p-panel-height);
		--h1-size: var(--p-h1-size);
	}
}
/*smartphone landscape*/
@media screen and (min-aspect-ratio: 1/1) and (max-height: 640px){
	:root {
		--d-1: var(--p-d-1);
		--d-2: var(--p-d-2);
		--d-3: var(--p-d-3);
		--d-4: var(--p-d-4);
		--d-5: var(--p-d-5);
		--padding-min: var(--p-padding-min);
		--padding-med: var(--p-padding-med);
		--padding-max: var(--p-padding-max);
		--panel-height: var(--p-panel-height);
		--h1-size: var(--p-h1-size);
	}
}
/*tablet portrait*/
@media screen and (max-aspect-ratio: 1/1) and (min-width: 640px){
	:root {
		--d-1: var(--t-d-1);
		--d-2: var(--t-d-2);
		--d-3: var(--t-d-3);
		--d-4: var(--t-d-4);
		--d-5: var(--t-d-5);
		--padding-min: var(--t-padding-min);
		--padding-med: var(--t-padding-med);
		--padding-max: var(--t-padding-max);
		--panel-height: var(--t-panel-height);
		--h1-size: var(--t-h1-size);
	}
}
/*tablet landscape*/
@media screen and (min-aspect-ratio: 1/1) and (min-height: 640px){
	:root {
		--d-1: var(--t-d-1);
		--d-2: var(--t-d-2);
		--d-3: var(--t-d-3);
		--d-4: var(--t-d-4);
		--d-5: var(--t-d-5);
		--padding-min: var(--t-padding-min);
		--padding-med: var(--t-padding-med);
		--padding-max: var(--t-padding-max);
		--panel-height: var(--t-panel-height);
		--h1-size: var(--t-h1-size);
	}
}

/*variable definition*/
#container{
	padding-top: var(--padding-min);
	padding-bottom: var(--padding-max);
}
#panel{
	height: var(--panel-height);
	padding: 0px var(--padding-min);
	cursor: pointer;
}
#note, .textbox{
	padding: calc((var(--panel-height) - var(--h1-size)) / 2) var(--padding-min);
}
.text-header{
	top: calc( var(--panel-height) / 2);
	transform: translateY( calc(var(--h1-size) / 2 * (-1)) );
	font-size: var(--h1-size);
	line-height: var(--h1-size);

}
.bead-entry{
	margin: 0px var(--padding-min);
	height: var(--d-1);
}
.bead-size-1{
	width: var(--d-1);
	height: var(--d-1);
}
.bead-size-2{
	width: var(--d-2);
	height: var(--d-2);
}
.bead-size-3{
	width: var(--d-3);
	height: var(--d-3);
}
.bead-size-4{
	width: var(--d-4);
	height: var(--d-4);
}
.bead-size-5{
	width: var(--d-5);
	height: var(--d-5);
}
.bead-shadow-size-1{
	width: calc(var(--d-1) * 2);
	height: calc(var(--d-1) * 2);
}
.bead-shadow-size-2{
	width: calc(var(--d-2) * 2);
	height: calc(var(--d-2) * 2);
}
.bead-shadow-size-3{
	width: calc(var(--d-3) * 2);
	height: calc(var(--d-3) * 2);
}
.bead-shadow-size-4{
	width: calc(var(--d-4) * 2);
	height: calc(var(--d-4) * 2);
}
.bead-shadow-size-5{
	width: calc(var(--d-5) * 2);
	height: calc(var(--d-5) * 2);
}
